@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Fira+Sans+Condensed:wght@300;500&family=Play&family=Rubik&display=swap');
/* 
'Finlandica', sans-serif; 400 italic
'Fira Sans Condensed', sans-serif; 300,500
'Play', sans-serif; 400
'Rubik', sans-serif; 400
*/


body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    color: antiquewhite;
}

.headlines-site {
    margin: 70px;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 0 5px rgb(0, 30, 255), -2px 0 5px rgb(255, 170, 0);
}


/* ---- MENU ---- */
.navigation_content {
    opacity: 0;
    position: fixed;
    top: 15%;
    left: -30%;
    z-index: 2;
    list-style: none;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.673);
    transition: left 1s, opacity 2s;

    &._active {
        opacity: 1;
        left: 10%;
    }

    li {
        padding: 15px 40px;
    
        a {
            font-family: 'Play', sans-serif;
            font-weight: 400;
            font-size: 20px;
            text-decoration: none;
            color: antiquewhite;
            font-weight: bold;
            display: block;
        }
    }
}



/* ---- HEADER : background ---- */
.header-site {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    .header_box {
        position: absolute;
        width: 110%;
        height: 110%;
    
        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .header_filter {
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: inset 0 -50px 100px 200px black;
            background-color: rgba(0, 0, 0, 0.685);
            opacity: 0.7;
            z-index: 1;
        }

        .header_town,
        .header_place,
        .header_car {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
        }
    }
}



/* ---- HEADER : header ---- */
.header_text {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    h5 {
        font-family: 'Finlandica', sans-serif;
        text-align: end;
        font-size: 20px;
    
        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: rgb(255, 255, 255);
            right: 190px;
            top: 45px;
        }
    }

    h2 {
        font-family: 'Rubik', sans-serif;
        text-align: center;
        font-size: 35px;
        text-shadow: 0 0 10px black;
        margin: 10px;
        span {color:coral;}
    }
}



/* ---- HEADER : burger ---- */
.navigation_ico {
    z-index: 2;
    position: fixed;
    width: 60px;
    height: 45px;
    left: 40px;
    top: 40px;
    opacity: 0.6;
    transition: opacity 0.3s;

    &:hover {opacity: 1; cursor: pointer}

    span {
        position: absolute;
        background-color: aliceblue;
        width: 100%;
        height: 10%;
        top: 50%;
        transform: translate(0, -50%);
        transition: width 0.5s;
    }

    &::before {bottom: 0; left: 0;}
    &::after {top:0;}

    &::before, 
    &::after {
        content: "";
        position: absolute;
        background-color: aliceblue;
        width: 100%;
        height: 10%;
        transition: transform 0.3s;
    }
    

    &._active span {width: 0%;}
    &._active::before {top: 50%; transform: rotate(45deg);}
    &._active::after {top: 50%; transform: rotate(-45deg);}
}



/* ---- HEADER : logo ---- */
.header_logo {
    position: absolute;
    right: 100px;
    z-index: 1;

    img {
        filter: invert(1);
        width: 100px;
        margin: auto;
        display: block;
        transition: filter 0.5s;
        &:hover {filter: invert(0); cursor: pointer;}
    }

    .car_light_left {
        content: "";
        width: 7px;
        position: absolute;
        left: 30%;
        bottom: 20%;
        box-shadow: 0 0 10px 10px rgb(210, 238, 255);
        border-radius: 100%;
        transition: box-shadow 1s;
    }
    .car_light_right {
        content: "";
        width: 7px;
        position: absolute;
        right: 30%;
        bottom: 20%;
        box-shadow: 0 0 10px 10px rgb(210, 238, 255);
        border-radius: 100%;
        transition: box-shadow 1s;
    }
}








/* ---- BODY-SITE ---- */
$margin_sides: 10%;



/* ---- SERVICES ---- */
.services {
    margin: auto $margin_sides;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 3%;
    justify-content: center;

    div {
        overflow: hidden;
        position: relative;
        border-radius: 5%;

        &::after {
            font-family: 'Fira Sans Condensed', sans-serif;
            content: attr(alt);
            position: absolute;
            width: auto;
            height: auto;
            right: 0;
            bottom: 10%;
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            padding: 3%;
            background-color: rgba(0, 0, 0, 0.8);
            transition: bottom 1s, color 1s;
            z-index: 1;
        }
        &:hover::after {bottom: 80%; color: rgb(255, 155, 118);}
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            clip-path: polygon(20% 0%, 100% 0%, 100% 60%, 60% 100%, 0% 100%, 0% 20%);
            transition: all 1s;
        }
        :hover img {clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 40% 100%, 0% 60%);}

        p {
            font-family: 'Fira Sans Condensed', sans-serif;
            position: absolute;
            margin: 0;
            left: -100%;
            bottom: 0;
            width: 50%;
            height: auto;
            border-top-right-radius: 20%;
            padding: 5%;
            font-size: auto;
            font-weight: 300;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.8);
            transition: left 1s ease 0.2s;
            z-index: 1;
            span {font-weight: 500;}
        }
        &:hover p {left:0;}
    }
}

.service_cleaning img {
    filter: blur(1px) grayscale(100%);
    transition: filter 1s;
}
.service_cleaning:hover img{
    filter: none;
}

.service_painting img {
    transition: filter 1s;
}
.service_painting:hover img {
    filter: sepia(100%);
}

.service_toning-lamps::before {
    content: "";
    position: absolute;
    width: 53%;
    height: 62%;
    left: 27%;
    top: 30%;
    transform: rotate(35deg);
    border-radius: 80%;
    opacity: 0;
    background-color: black;
    box-shadow: 0 0 1em 0.5em black;
    transition: opacity 1s;
    z-index: 1;
}
.service_toning-lamps:hover::before{
    opacity: 0.8;
}

.service_toning::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgb(0, 0, 0);
    transition: opacity 1s;
    clip-path: polygon(3% 0%, 100% 0%, 100% 48%, 38% 47%, 22% 42%);
    z-index: 1;
}
.service_toning:hover::before {
    opacity: 0.8;
}
.service_toning img {
    filter:blur(2px);
    transition: filter 1s;
}
.service_toning:hover img{
    filter: brightness(80%);
}
@media(min-width: 1159px) {
    .service_toning::before {clip-path: polygon(-1.5% 0%, 100% 0%, 100% 48%, 38% 47%, 22% 42%);}
}

.service_trim-salon {
    filter: hue-rotate(50deg) grayscale(50%);
    transition: filter 1s;
}
.service_trim-salon:hover {
    filter: none;
}

.service_xenon::before{
    content: "";
    position: absolute;
    width: 10%;
    height: 10%;
    border-radius: 20%;
    top: 38%;
    right: 24%;
    background-color: rgb(187, 226, 249);
    opacity: 0;
    box-shadow: 0 0 2em 3em rgb(187, 226, 249);
    transition: opacity 1s;
    z-index: 1;
}
.service_xenon:hover::before{
    opacity: 0.9;
}


@media (max-width: 500px) {
    .services {
        margin: 0;
        margin-bottom: 250px;
        grid-template-columns: 90%;
        grid-template-rows: repeat(6, auto);

        div {
            width: 90%;
            height: 150px;
            transition: height 1s;
            box-shadow: inset 0 0 50px rgb(0, 39, 138);
            &:nth-child(even) {justify-self: end;}
            &:hover {height: 400px;}
        }

        .service_toning::before {clip-path: polygon(-1% 0%, 100% 0%, 100% 48%, 38% 47%, 0% 42%);}
        .service_toning-lamps::before {
            width: 80%;
            height: 69%;
            left: 15%;
            top: 28%;
            transform: rotate(-35deg);
            border-radius: 80%;
        }
    }
}






/* ---- SLIDER_BeforeAfter ---- */
.slider_ba {
    width: 100%;
    margin-top: 100px;

    .slider_ba_box {
        background-color: rgb(0, 0, 119);
        width: 80%;
        height: 34vw;
        position: relative;
        margin: auto;

        h1 {
            position: absolute;
            font-family: 'Play', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 40px;
            text-align: center;
            z-index: 1;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 0.5px;
        }
    }
}

.slider_ba_img-down {
    background: url('/img/bmw_down.jpg') no-repeat;
    background-size: cover;
}

.slider_ba_img-up {
    background: url('/img/bmw_up.jpg') no-repeat;
    background-size: cover;
}

.slider_ba_img-down,
.slider_ba_img-up {
    position: absolute;
    // object-position: 0 0;
    // object-fit:cover;
    width: 100%;
    height: 100%;
    // pointer-events: none;
}




.slider_ba_roller {
    position: absolute;
    background-color: rgba(0, 16, 192, 0.138);
    width: 3px;
    height: 100%;
    top: 0;
    left: 25%;
    transition: background 0.5s;

    &:hover {
        background: rgba(255, 255, 255, 0.255);
        cursor: pointer;
    }
}


.slider_ba_roller img {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.132);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}






//начинаем использовать SCSS


.about {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), 
                // linear-gradient(to left, rgba(255, 132, 0, 0.251), rgba(0, 85, 255, 0.3)),
                url("/img/about_bg.jpg"), no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.about_box {
    display: flex;
    justify-content: center;
    gap: 3%;
    margin: 0 2%;
    flex-wrap: wrap;

    .about_content {
        margin: 0 auto 70px auto;
        width: 70%;
        height: 300px;
        position: relative;

        div {
            opacity: 0;
            transition: opacity 1s;
            position: absolute;
            width: 100%;
            height: 100%;

            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
                filter: brightness(30%);
                border-radius: 10%;
            }

            p {
                // position: absolute;
                width: 90%;
                display: block;
                height: auto;
                transform: translate(0, 0);
                text-align: center;
                padding: 5%;
            }
        }
    }

    .about_company {
        flex: 1 0 50%;
        margin-top: 40px;
        h5{
            margin: auto;
            font-family: 'Fira Sans Condensed', sans-serif;
            font-weight: 300;
            text-align: center;
            font-size: 20px;
            text-shadow: 0 0 5px black;
            padding: 50px 0;
        }

        &::before{
            content: "";
            position: absolute;
            width: 100% - $margin_sides*2;
            height: 2px;
            transform: translate(-50%, 370px);
            left: 50%;
            background-color: rgb(255, 229, 202);
        }
    }

    .about_choice {
        justify-content: center;
        flex: 0 0 15%;

        h3 {
            font-family: 'Fira Sans Condensed', sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 25px;
        }
        h3:not(:first-child) {
            margin: 100px 0;
        }

        &.right {
            h3:nth-child(1) {text-align: center;}
            h3:nth-child(2) {text-align: end;}
        }
        &.left {
            h3:nth-child(1) {text-align: center;}
            h3:nth-child(2) {text-align: end;}
        }
    }

    .about_nav {
        transition: color 0.3s;

        &:hover {
            color:rgb(253, 167, 135);
            cursor: pointer;
        }
    }
}

@media (max-width: 800px) {
    .about_box {
        gap: 10%;

        .about_choice {
            &.right {
                order: -1;
                h3:nth-child(n) {
                    text-align: center;
                    border: solid 2px;
                    padding: 10px;
                }
            }
            &.left {
                h3:nth-child(n) {
                    text-align: center;
                    border: solid 2px;
                    padding: 10px;
                }
            }

            h3:not(:first-child) {
                margin: 50px 0;
            }
        }

        .about_company {
            .about_content {
                width: 100%;
    
                div {
                    height: 150%;
    
                    img {
                        border-radius: 0;
                        box-shadow: 0 0 10px 5px black;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }

            h5 {
                margin-top: 200px;
            }

            &::before{
                // width: 100% - $margin_sides*2;
                transform: translate(-50%, 500px);
            }
        }
    }
}

.portfolio {
    position: relative;
    margin: auto;
    width: 100% - $margin_sides*2;
    height: auto;
    display: flex;
    gap: 40px;
    justify-content: start;
    overflow: hidden;
    padding: 5px;

        .portfolio_elem {
            min-width: 350px;
            height: 500px;
            overflow: hidden;
            transition: transform 1s;
            box-shadow: 0 0 5px rgb(136, 65, 39);
            background-color: rgb(136, 65, 39, 0.1);
            border-radius: 2%;
            padding: 5px;
            &:hover {
                transform: scale(1.02);
                cursor: pointer;
            }

            .portfolio_main-el {
                height: 80%;
                width: 100%;
                border-radius: 5%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                filter: brightness(50%);
                transition: filter 0.5s;
                &:hover {filter: none;}
            }

            .portfolio_sub-el {
                width: 100%;
                height: 19%;
                margin-top: 1%;
                display: flex;
                gap: 10px;
                
                div {
                    border: solid 1px rgb(72, 34, 20);
                    border-radius: 5%;
                    min-width: 120px;
                    height: 100%;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                    filter: brightness(50%);
                    transition: filter 0.5s;
                    &:hover {filter: brightness(100%);}
                }

                // div:nth-child(1) {
                //     background: url('/img/portfolio_2.jpg') no-repeat;
                //     background-size: cover;
                // }
                // div:nth-child(2) {
                //     background: url('/img/portfolio_3.jpg') no-repeat;
                //     background-size: cover;
                // }
                // div:nth-child(3) {
                //     background: url('/img/portfolio_4.jpg') no-repeat;
                //     background-size: cover;
                // }
            }
        }

        .btn-left {
            z-index: 1;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translate(0, -50%);
            height: 70px;
            width: 70px;
            background-color: aliceblue;
            clip-path: polygon(100% 0, 30% 50%, 100% 100%, 70% 100%, 0 50%, 70% 0);
            opacity: 0.5;
            transition: opacity 0.3s;

                &:hover {
                    opacity: 0.9;
                    cursor: pointer;
                }
        }
        .btn-right {
            z-index: 1;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translate(0, -50%);
            height: 70px;
            width: 70px;
            background-color: aliceblue;
            clip-path: polygon(30% 0, 100% 50%, 30% 100%, 0 100%, 70% 50%, 0 0);
            opacity: 0.5;
            transition: opacity 0.3s;

                &:hover {
                    opacity: 0.9;
                    cursor: pointer;
                }
        }
}
.modal_portfolio {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    .modal-img {
        width: 100%;
        height: 90%;
        padding-top: 5%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 70% 20%;
        justify-items: center;
        align-items: end;

        img:not(:nth-child(1)) {
            width: 150px;
            height: 100px;
            filter: brightness(70%);
            transition: filter 0.3s;
            &:hover {cursor: pointer; filter: brightness(100%);}
        }
        img:nth-child(1) {
            grid-area: 1/1/1/4;
            max-width: 50%;
            max-height: 100%;
            // object-fit: cover;
        }
    }

    span {
        position: absolute;
        height: 7px;
        width: 70px;
        right: 10%;
        top: 10%;
        transform: rotate(45deg);
        background-color: aliceblue;
        opacity: 0.5;
        transition: opacity 0.4s;
        &::after {
            content: "";
            position: absolute;
            height: 7px;
            width: 70px;
            transform: rotate(90deg);
            background-color: aliceblue;
        }
        &:hover {opacity: 1; cursor: pointer;}
    }
}
@media (max-width: 1000px) {
    .modal_portfolio {
        .modal-img {
            img:not(:nth-child(1)) {
                width: 90%;
                height: 90%;
                object-fit: cover;
            }
            
            img:nth-child(1) {
                max-width: 80%;
                max-height: 80%;
            }
        }
    }
}

.footer {
    padding-bottom: 100px;
    // width: 100%;
    background: linear-gradient(0deg, rgba(27, 22, 14, 0.7) 0%, rgba(0,0,0,1) 100%),
                url('/img/footer_bg.jpg') no-repeat;
    background-size: cover;
    background-position-y: center;

    .contacts {
        padding: 0 $margin_sides;
        display:flex;
        align-content: center;
        gap: 2%;

        .contacts_map {
            width: 50%;
            flex: 1 0;
            box-shadow: 0 0 10px rgb(255, 243, 220);
            opacity: 0.7;
            transition: opacity 0.3s;

            &:hover {opacity: 1;}
        }

        .contacts_content {
            text-align: center;
            align-self: center;
            font-size: 30px;
            margin: 0 auto;
            flex: 0 1 40%;
            box-shadow: 0 0 5px rgb(255, 243, 220, 0.5);
            background-color: rgb(255, 243, 220, 0.1);

            a {text-decoration: none;}
            h3 {
                color: antiquewhite;
                transition: color 0.4s;
                font-family: 'Rubik', sans-serif;
                font-weight: 400;

                &:hover {
                    color: coral;
                }
            }

            p {
                font-family: 'Fira Sans Condensed', sans-serif;
                font-weight: 300;
            }

            h4 {
                &::before {
                    content: "";
                    background-color: #56ff56;
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    transform: translate(-170%, 100%);
                    border-radius: 100%;
                    animation: blink 2s infinite;
                    @keyframes blink {
                     0% {opacity: 1; box-shadow: 0 0 10px 2px #56ff56;}
                     50% {opacity: 0.5; box-shadow: 0 0 0px #56ff56;}
                     100% {opacity: 1; box-shadow: 0 0 10px 2px #56ff56;}
                    }
                }
            }
        }
    }
}
@media (max-width: 950px) {
    .footer {
        background-position-x:right ;

        .contacts {
            flex-wrap: wrap;

            .contacts_map {
                order: 1;
                width: 100%;
                flex: 0 1 100%;
            }

            .contacts_content {
                flex: 0 1 100%;
                padding: 25px;
            }
        }
    }
}
